ADOFAI_DIR="$HOME/Library/Application Support/Steam/steamapps/common/A Dance of Fire and Ice"
ADOFAI_MODS_DIR="$ADOFAI_DIR/Mods"
ADOFAI_MANAGED="$ADOFAI_DIR/ADanceOfFireAndIce.app/Contents/Resources/Data/Managed"

DOTNET_ROOT="$HOME/.dotnet"
DOTNET_ROOT_ARM64="$HOME/.dotnet"
DOTNET_EXE="$HOME/.dotnet/dotnet"

ADOFAIIPC_BUILD_DIR="./build/AdofaiIpc"
ADOFAIIPC_INSTALL_DIR="$ADOFAI_MODS_DIR/AdofaiIpc"
ADOFAIIPC_PACKAGE_ROOT="./build/package"
ADOFAIIPC_PACKAGE_ZIP="./build/AdofaiIpc.zip"
